<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>{% block title %}Bienvenue sur QuizOPlan !{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
    {% endblock %}
</head>
<body class="is-preload">
{% block header %}
    <div id="wrapper">
        <div class="align-center">
            <header>
                <section id="connexion">
                    <ul>
                        <li class="button primary small, fa-pull-left">
                            <a href="{{path('index')}}">Accueil</a>
                        </li>
                        {#{% if is_granted('ROLE_USER') %}#}
                            {#<li class="nav-item {% if mainNavMember is defined %}active{% endif %}">#}
                                {#<a class="nav-link" href="{{path('eleve')}}">Espace membre</a>#}
                            {#</li>#}
                        {#{% endif %}#}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="button primary small">
                                <a href="{{path('administrateur')}}">Espace admin</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <li class="button primary small, fa-pull-right">
                                <a href="{{path('logout')}}">Déconnexion</a>
                            </li>
                        {% else %}
                            <li class="button primary small, fa-pull-right">
                                <a href="{{path('login')}}">Connexion</a>
                            </li>
                            <li class="button primary small, ">
                                <a href="{{path('inscription')}}">Inscription</a>
                            </li>
                        {% endif %}
                    </ul>
                </section>
            </header>
        </div>
    </div>
{% endblock %}
{% block flash %}
    {% for flash_message in app.session.flashbag.get('success') %}
        <div class="container alert alert-success" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('info') %}
        <div class="container alert alert-info" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('warning') %}
        <div class="container alert alert-warning" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('danger') %}
        <div class="container alert alert-danger" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>