{% extends 'base.html.twig' %}

{% block title %}Formulaire! {% endblock %}

{% block body %}
    <body>
    <div id="wrapper">
        <header id="header" class="alt">
            <h1>EasyStage</h1>
        </header>
        <section>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </section>
    </div>
    </body>
{% endblock %}