{% extends 'base.html.twig' %}

{% block title %}{{ prof.nom }}{% endblock %}

{% block body %}
    <body>
    <div id="wrapper">
        <header id="header" class="alt">
            <h1>EasyStage</h1>
        </header>
        <div id="main">
            <section class="main special">
                <h2 class="align-center">{{ prof.nom }}</h2>
                <ul class="alt align-center">
                    {% if prof.mail!=null %}
                        <li class="align-center">{{ prof.mail }}</li>
                    {% endif %}
                    {% if prof.telephone!=null %}
                        <li class="align-center">{{ prof.telephone }}</li>
                    {% endif %}
                    <li class="align-center">{{ prof.ville }}</li>
                    <li class="align-center">{{ prof.adresse }}</li>
                </ul>
            </section>
        </div>
    </div>
    </body>
{% endblock %}