{% extends 'base.html.twig' %}

{% block title %}{{ entreprise.nom }}{% endblock %}

{% block body %}
    <body>
    <div id="wrapper">
        <header id="header" class="alt">
            <h1>EasyStage</h1>
        </header>
        <div id="main">
            <section class="main special">
                <h2 class="align-center">{{ entreprise.nom }}</h2>
                <h2 class="align-center"> ID de l'entreprise : {{ entreprise.id }}</h2>
                <ul class="alt align-center">
                    <li>{{ entreprise.ville }}</li>
                    <li>{{ entreprise.cp }}</li>
                    <li>{{ entreprise.adresse }}</li>
                    {% if entreprise.mail!=null %}
                        <li>{{ entreprise.mail }}</li>
                    {% endif %}
                    {% if entreprise.telephone!=null %}
                        <li>{{ entreprise.telephone }}</li>
                    {% endif %}
                    <li>{{ entreprise.activite }}</li>
                </ul>
            </section>
        </div>
    </div>
    </body>
{% endblock %}
