{% extends 'base.html.twig' %}

{% block title %}{{ eleve.nom }}{% endblock %}

{% block body %}
    <body>
    <div id="wrapper">
        <header id="header" class="alt">
            <h1>EasyStage</h1>
        </header>
        <div id="main">
            <section class="main special">
                <h2 class="align-center">{{ eleve.nom }}</h2>
                <ul class="alt align-center">
                    <li>{{ eleve.datenaissance | date("D-M-Y") }}</li>
                    <li>{{ eleve.ville }}</li>
                    <li>{{ eleve.adresse }}</li>
                    {% if eleve.mail!=null %}
                        <li>{{ eleve.mail }}</li>
                    {% endif %}
                    {% if eleve.telephone!=null %}
                        <li>{{ eleve.telephone }}</li>
                    {% endif %}
                </ul>
            </section>
        </div>
    </div>
    </body>
{% endblock %}
