{% extends 'base.html.twig' %}

{% block title %}Easy Stage!{% endblock %}

{% block body %}
    <body class="is-preload">
    <div id="wrapper">
        <section class="alt, align-center">
            <span class="logo"><img src="images/logo.svg" alt="" /></span>
            <h1>EasyStage</h1>
        </section>

        <nav id="nav">
            <ul>
                <li><a href="#aperçu" class="active">Aperçu</a></li>
                <li><a href="#listes">Toutes les listes</a></li>
            </ul>
        </nav>

        <div id="main">
            <section id="aperçu" class="main special">
                <header class="major">
                    <h2>Aperçu de EasyStage</h2>
                    <p>EasyStage est un site vous permettant de trouver un stage plus facilement, grâce a une liste d'entreprises partenaires.
                        Cela facilitera la discussion et l'organisation avec votre professeur lors de la recherche de stage.</p>
                </header>
            </section>

            <section id="listes" class="main special">
                <header class="major">
                    <h2>Toutes les listes</h2>
                </header>
                <ul class="features">
                    <li>
                        <span class="image"><a href="{{ path('listeEleve') }}" ><img src="/images/ListeEleve.png" alt="" /></a></span>
                        <h3>Listes des élèves</h3>
                    </li>
                    <li>
                        <span class="image"><a href="{{ path('listeEntreprise') }}" ><img src="/images/ListeEntreprise.png" alt="" /></a></span>
                        <h3>Liste des entreprises</h3>
                    </li>
                    <li>
                        <span class="image"><a href="{{ path('listeProf') }}" ><img src="/images/ListeProf.png" alt="" /></a></span>
                        <h3>Liste des professeurs</h3>
                    </li>
                    <li>
                        <span class="image"><a href="{{ path('addStage') }}" ><img src="/images/Stage1.png" alt="" /></a></span>
                        <h3>Ajouter un stage</h3>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    </body>
{% endblock %}
