{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises!{% endblock %}

{% block body %}
    <body>
    <div id="wrapper">
        <header id="header">
            <span class="logo"><img src="images/1.png" alt=""/></span>
            <h1>EasyStage</h1>
        </header>
        <div id="main">
            <h2 class="align-center">Liste des entreprises</h2>
            <section class="main special">
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                        <th class="align-center">Nom</th>
                        <th class="align-center">Ville</th>
                        <th class="align-center">Activité</th>
                        <th class="align-center">Supprimer</th>
                        <th class="align-center">Modifier</th>
                        </thead>
                        {% for a in entreprise %}
                            <tbody>
                            <td><a href="{{ path('detailE', {'id':a.id}) }}">{{ a.nom }}</a></td>
                            <td>{{ a.ville }}</td>
                            <td>{{ a.activite }}</td>
                            <td><a href="{{ path('deleteEntreprise', {'id': a.id }) }}">Supprimer</a></td>
                            <td><a href="{{ path('addEntreprise', {'id': a.id }) }}">Modifier</a></td>
                            </tbody>
                        {% endfor %}
                    </table>
                    <a href="{{ path('addEntreprise') }}" class="button primary small">Ajouter une entreprise</a>
                </div>
            </section>
        </div>
    </div>
    </body>
{% endblock %}
